<h1 class="title">Cats are our masters!</h1>
<h1 class="subtitle">Dogs are our enemies!</h1>
<div>
  <img id="cat-img" src="{{catPhotoSrc}}" />
</div>
<div>
  <form action="/">
    <button class="primary-btn" id="cat-btn" type="submit">Show me a different cat!</button>
  </form>
</div>